* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: wheat;
}
.myDiv {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.true {
  background-color: rgb(14, 208, 14);
  padding: 3rem;
  border-radius: 3rem;
  box-shadow: 1rem 1rem 3rem green;
}
.false {
  background-color: rgb(203, 11, 11);
  padding: 3rem;
  border-radius: 3rem;
  box-shadow: 1rem 1rem 3rem red;
}
